[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
rope = "*"
ipdb = "*"

[packages]
"discord.py" = "*"
python-dotenv = "*"
pretty-midi = "*"
scipy = "*"
pyfluidsynth = "*"
numpy = "*"
pychord = {ref = "890dc5687eaa9aef659ddbcd292a4f3c0f79fff0", git = "https://github.com/naari3/pychord.git"}
musthe = "*"
pytheory = "*"
pytuning = {ref = "e46f5f2135f02b6f66465f312c88631f36ffe9f7", git = "https://github.com/naari3/PyTuning.git"}
pydub = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
