[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
rope = "*"
ipdb = "*"

[packages]
"discord.py" = "*"
python-dotenv = "*"
pretty-midi = "*"
scipy = "*"
pyfluidsynth = {git = "https://github.com/SpotlightKid/pyfluidsynth.git", ref = "7f1063e953640e20a1b0ede603f984e1f58b25e8"}
numpy = "*"
pychord = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
